<main>

	<header>
		<h1 class='title'>
			<%= link_to "Courses", courses_path %>: <%= @course.name %>
		</h1>
		
		<div class='links'>
			<%= link_to "Source", @course.source, target: '_blank', class: 'source' if @course.source.present? %>
			
			<%= link_to "Tutorial", @course.tutorial, target: '_blank', class: 'tutorial' if @course.tutorial.present? %>
		</div>
	</header>

	<section class='list'>
		<% if @projects.empty? %>
			<%= tag.p "No projects have been listed for this course", class: 'notice' %>
		<% else %>
			<% @projects.each do |project| %>
				<%= link_to project.name, course_project_path(@course.slug, project.slug), class: "#{ (project.complete?) ? "complete" : "incomplete" } project" %>
			<% end %>
		<% end %>
	</section>

</main>