<main>

	<header>
		<h1 class='title'>
			<%= link_to @course.name, course_path(@course.slug) %>: <%= @project.name %>
		</h1>

		<div class='links'>
			<%= link_to "Source", @project.source, target: '_blank', class: 'source' if @project.source.present? %>
			
			<%= link_to "Tutorial", @project.tutorial, target: '_blank', class: 'tutorial' if @project.tutorial.present? %>
		</div>
	</header>

	<article class='live_preview'>
		<% if @project.url.present? %>
			<%= content_tag :iframe, '', src: @project.url, frameborder: 0 %>
		<% else %>
			<%= tag.p "This project does not have a live preview yet.", class: 'notice' %>
		<% end %>
	</article>

	<section class='description'>
		<% if @project.notes.present? %>
			<%= tag.p @project.notes, class: 'notes' %>
		<% end %>
	</section>

</main>